* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

@font-face {
	font-family: "Metropolis-Bold";
	src: local("Metropolis-Bold"), url(../fonts/Metropolis-Bold.otf);
}
@font-face {
	font-family: "Montserrat-Medium";
	src: local("Montserrat-Medium"), url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
	font-family: "Metropolis-Thin";
	src: local("Metropolis-Thin"), url(../fonts/Metropolis-Thin.otf);
}
body {
	font-family: "Montserrat-Medium";
	background: url(../img/background.png) 0 0 / cover no-repeat;
	overflow: hidden;
}

.content {
	max-width: 662px;
	max-height: 492px;
	background: #fff;
	color: black;
	font-weight: 500;
	position: relative;
	margin: 64px auto;
	border-radius: 16px;
	box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.14);
	overflow: hidden;
	display: flex;
}
.content__image {
	max-width: 100%;
}
.content-right {
	padding: 103px 0 41px 25px;
	min-width: 310px;
}
.content-name {
	margin: 0 0 30px 0;
}
.content-name__title {
	font-family: "Metropolis-Bold";
	font-size: 20px;
	margin: 0 0 7px 0;
}
.content-name__subtitle {
	font-family: "Metropolis-Thin";
}
.form input {
	font-family: "Montserrat-Medium";
	font-size: 10px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	display: inline-block;
	padding: 0 4px;
	font-weight: 500;
	width: 123px;
	height: 21px;
	line-height: 21px;
	margin: 0 26px 18px 0;
}
.form input:nth-child(3) {
	width: 275px;
	height: 26px;
	line-height: 26px;
	margin: 0 0 22px 0;
}
.form input:nth-child(4) {
	width: 275px;
	height: 26px;
	line-height: 26px;
	margin: 0 0 18px 0;
}
.form button {
	display: block;
	position: relative;
	left: 177px;
	width: 98px;
	height: 27px;
	background: #18a0fb;
	border-radius: 6px;
	font-family: "Montserrat-Medium";
	color: #fff;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: -0.015em;
	margin: 0 0 108px 0;
}
.content__bottom-text {
	font-size: 10px;
	letter-spacing: -0.015em;
}
.content__bottom-text a {
	color: #000;
	margin: 0 0 0 6px;
}
